
/*#region Sidebar */
.sidebar {
    flex: 0;
    flex-basis: 5rem;
    background-color: var(--primary-3);
}

.sidebar-content {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.drawer-expand button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: var(--primary-0);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform .35s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
}

.drawer-expand button.expanded {
    transform: rotate(-90deg);
}

/* Mobile */
@media only screen and (max-width: 739px) {
    .sidebar-content {
        align-items: center;
    }

    .drawer-expand {
        margin-left: auto;
    }

    .sidebar .title {
        padding-left: 15px;
    }

    .sidebar:not(.expanded) .title {
        display: none;
    }
}

/* Large screens */
@media only screen and (min-width: 740px) {
    .sidebar-content {
        flex-direction: column;
        align-items: center;
    }

    .drawer-expand {
        margin-top: auto;
    }

    .sidebar .title {
        display: none;
    }
}
/*#endregion */

/*#region Drawer */
.drawer {
    flex: 0;
    background: var(--primary-1);
    transition: flex .35s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: flex;
    overflow: hidden;
}

.drawer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.drawer.expanded {
    flex-shrink: 0;
    flex-basis: 10rem;
}

.drawer-checkbox {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--gray-1);
    border-radius: 10px;
    outline: none;
}

.drawer-checkbox:checked {
    background-color: var(--gray-1);
}

.drawer-button {
    width: 100%;
    height: 3rem;
    margin-bottom: -9px;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    background-color: var(--primary-0);
    clip-path: polygon(0 18%, 100% 0, 100% 82%, 0% 100%);
    box-shadow: inset 1px 0px 1px rgba(0,0,0,0.09), inset 2px 0px 2px rgba(0,0,0,0.09), inset 4px 0px 4px rgba(0,0,0,0.09);
}

.drawer-button:hover {
    background-color: var(--gray-0);
}

.drawer-body form {
    width: 100%;
}

input.drawer-search {
    margin: 0 10px;
    padding: 3px 8px;
    width: calc(100% - 20px);
    height: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: width .2s ease-in-out, margin .2s ease-in-out, border-radius .2s ease-in-out;
}

input.drawer-search:focus {
    border-radius: initial;
    margin: 0;
    width: 100%;
}

/* Mobile */
@media only screen and (max-width: 739px) {
    #pin-drawer {
        display: none;
    }

    .drawer .title {
        display: none;
    }
}

/* Large screens */
@media only screen and (min-width: 740px) {
    .drawer-content {
        box-shadow: inset 1px 0px 1px rgba(0,0,0,0.09), inset 2px 0px 2px rgba(0,0,0,0.09), inset 4px 0px 4px rgba(0,0,0,0.09);
    }

    .drawer-header {
        width: 100%;
        position: relative;
    }

    .drawer-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px 0 35px 0;
        flex: 1;
    }

    @media (hover: hover) and (pointer: fine) {
        .sidebar:hover ~ .drawer:not(.pinned),
        .sidebar:active ~ .drawer:not(.pinned),
        .sidebar:focus ~ .drawer:not(.pinned),
        .drawer:hover {
            flex-shrink: 0;
            flex-basis: 10rem;
        }

        .drawer-expand {
            display: none;
        }
    }

    .drawer-expand {
        transform: rotate(90deg);
    }

    .drawer-expand button.expanded {
        transform: rotate(90deg);
    }

    .drawer.pinned,
    .drawer.expanded {
        flex-shrink: 0;
        flex-basis: 10rem;
    }

    .drawer .title {
        flex-basis: 5rem;
        width: 100%;
        padding: 15px 0 15px 35px;
        clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
        box-shadow: inset 1px 0px 1px rgba(0,0,0,0.09), inset 2px 0px 2px rgba(0,0,0,0.09), inset 4px 0px 4px rgba(0,0,0,0.09);
        background: var(--primary-3);
    }
}
/*#endregion */