:root {
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;

    --gray-0: #c5d0e4;
    --gray-1: #98a5bd;

    --primary-0: #aac9e6;
    --primary-1: #5d97ce;
    --primary-2: #3c79b3;
    --primary-3: #162938;
}
