@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

<button id="rescan-button" class="drawer-button" type="button">Rescan</button>
<main class="main">
    <div class="movies-content">
        @foreach (MovieViewModel movie in Model)
        {
            <a class="thumbnail" href="@Url.Action("Watch", "Home", new { id = movie.Id })">
                <img loading="lazy" alt="@movie.Title" src="/Home/GetCover/@movie.Id">
            </a>
        }
    </div>
</main>
@section scripts {
    <script defer>
        document.getElementById("rescan-button").addEventListener("click", function () {
            $.ajax({
                url: "/Home/Rescan",
                type: "GET",
                success: function () {
                    alert("Successfully rescanned the folder");
                    window.location.reload();
                },
                error: function () {
                    alert("Failed to rescan the folder");
                    window.location.reload();
                }
            });
        });
    </script>
}
