@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<nav class="sidebar">
    <form id="rescan">
        <input type="text" placeholder="Enter folder path" />
        <button type="submit" id="rescan-movies">Rescan</button>
    </form>
</nav>
<main class="main">
    @foreach (MovieViewModel movie in Model)
    {
        <a href="@Url.Action("Watch", "Home", new { id = movie.Id })" class="thumbnail">
            @movie.Title
        </a>
    }
</main>
<button class="btn scroll-to-top hidden" type="button"><i class="fas fa-arrow-alt-circle-up"></i> Scroll to top</button>

@section scripts {
    <script defer>
        // Scroll to top button
        let element = document.querySelector(".main");
        let topButton = document.querySelector(".scroll-to-top");
        topButton.addEventListener("click", function () {
            element.scrollTo({ top: 0, behavior: "smooth" });
        }, { passive: true });

        // Scroll listener for scroll to top button
        element.addEventListener("scroll", function () {
            if (element.scrollTop >= 400) {
                topButton.classList.remove("hidden");
            } else {
                topButton.classList.add("hidden");
            }
        }, { passive: true });

        document.getElementById("rescan").addEventListener("submit", function (event) {
            event.preventDefault();
            let input = event.target.querySelector("input");
            if (input && input.value) {
                let text = encodeURI(input.value);
                $.ajax({
                    url: "/Home/Rescan",
                    type: "GET",
                    data: { path: text },
                    success: function () {
                        alert("Successfully rescanned the folder");
                        window.location.reload();
                    },
                    error: function () {
                        alert("Failed to rescan the folder");
                    }
                });
            }
        });
    </script>
}